


#div_mainCanvas{
    width:55%;
    height:700px;
    border:1px solid;
    padding:20px;
    margin-left:10%;
    margin-top:5%; 

    float:left;
}
#div_menuBar{
    width: 25%;
    height:700px;
    border:1px solid;
    padding:20px;
    margin-right:10%;
    margin-top:5%;

    float:right;
}


#mainCanvas{
    border:1px solid;
    background:#FFFFFF;
}



/* RGB selector*/
.rgbSlidecontainer {
  width: 80%;
}

.rgbSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rgbSlider:hover {
  opacity: 1;
}

.rgbSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}

.rgbSlider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #4CAF50;
  cursor: pointer;
}
/*RGB selector END*/
